$blue: #446dff;
$white: #ffffff;
$homeBackground: #f5f6fa;
$quantiyNameColor: #c9c9c9;
$converterBorderColor: #e7dcfe;
$lengthColor: #0ec098;
$temperatureColor: #fd5160;
$volumeColor: #7224ff;
$massColor: #2e5172;
$quantityBoxSadow: 0px 3px 6px #00000029;
$montserratFont: Montserrat;
$poppins: Poppins;
$robotoFont: Roboto;

length-image-size {
  width: 12px;
  height: 50px;
}

temperature-image-size {
  width: 30px;
  height: 58px;
}

volume-image-size {
  width: 50px;
  height: 50px;
}

mass-image-size {
  width: 50px;
  height: 50px;
}

html,
body,
#root,
.App {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: $montserratFont;
  text-align: center;
  background-color: $homeBackground;
}

header {
  height: 15%;
  font-family: $montserratFont;

  a {
    text-decoration: none;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
  }

  article {
    height: 60%;
    background-color: $blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
  }

  #header-quanment {
    font-weight: 600;
    font-size: 2vw;
  }

  #header-history {
    font-size: 1vw;
  }
}

.home {
  padding-top: 5vh;
  width: 75%;
  height: 80%;
  display: flex;
  background-color: $homeBackground;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  overflow: auto;

  #home-text {
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    width: 100%;
    padding: 5px;
  }

  #quantity {
    display: flex;
    justify-content: space-between;
    height: 25%;
    button {
      font: 400 12px $montserratFont;
    }
  }

  #LENGTH,
  #TEMPERATURE,
  #VOLUME,
  #MASS,
  #LENGTH-active,
  #TEMPERATURE-active,
  #VOLUME-active,
  #MASS-active {
    width: 23%;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 7px;
  }

  #LENGTH #quantity-image {
    @extend length-image-size;
    background: transparent url("../assets/scale.svg") 0% 0% no-repeat
      padding-box;
  }

  #TEMPERATURE #quantity-image {
    @extend temperature-image-size;
    background: transparent url("../assets/hot.svg");
  }

  #VOLUME #quantity-image {
    @extend volume-image-size;
    background: transparent url("../assets/beaker.svg") 0% 0% no-repeat
      padding-box;
  }

  #MASS #quantity-image {
    @extend mass-image-size;
    background: transparent url("../assets/mass.svg") 0% 0% no-repeat
      padding-box;
  }

  #quantity-name {
    font-size: 1.2vw;
    width: 100%;
    margin-top: 5px;
    color: $quantiyNameColor;
    text-transform: capitalize;
  }

  #LENGTH:hover,
  #LENGTH-active {
    background: #edfdf9;
    box-shadow: $quantityBoxSadow;
    border: 1px solid $lengthColor;
    opacity: 1;
    #quantity-image {
      @extend length-image-size;
      background: transparent url("../assets/scale-color.svg") 0% 0% no-repeat
        padding-box;
    }
    #quantity-name {
      font-weight: bold;
      color: $lengthColor;
      text-transform: capitalize;
    }
  }

  #TEMPERATURE:hover,
  #TEMPERATURE-active {
    background: #ffeef0;
    box-shadow: $quantityBoxSadow;
    border: 1px solid $temperatureColor;
    #quantity-image {
      @extend temperature-image-size;
      background: transparent url("../assets/hot-color.svg");
    }
    #quantity-name {
      font-weight: bold;
      color: $temperatureColor;
    }
  }

  #VOLUME:hover,
  #VOLUME-active {
    background: #e8ddff;
    box-shadow: $quantityBoxSadow;
    border: 1px solid $volumeColor;
    #quantity-image {
      @extend volume-image-size;
      background: transparent url("../assets/beaker-color.svg") 0% 0% no-repeat
        padding-box;
    }
    #quantity-name {
      font-weight: bold;
      color: $volumeColor;
    }
  }

  #MASS:hover,
  #MASS-active {
    background: #e8ddff;
    box-shadow: $quantityBoxSadow;
    border: 1px solid $massColor;
    #quantity-image {
      @extend mass-image-size;
      background: transparent url("../assets/mass-color.svg") 0% 0% no-repeat
        padding-box;
    }
    #quantity-name {
      font-weight: bold;
      color: $massColor;
    }
  }
}

#converter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 40%;

  #from,
  #to {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 45%;
  }

  #from input,
  #to input {
    font-family: $robotoFont;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    border-radius: 3px;
    border: 1px solid $converterBorderColor;
    outline: none;
  }

  #from select,
  #to select {
    font: 400 12px $montserratFont;
    font-size: 12px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid $converterBorderColor;
    outline: none;
  }

  #converter-table-name {
    text-align: left;
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.62;
    padding-left: 5px;
  }
}

@media only screen and (max-width: 650px) {
  .home {
    width: 100%;
    padding-top: 10px;

    #home-text {
      text-align: center;
    }

    #LENGTH,
    #TEMPERATURE,
    #VOLUME,
    #MASS,
    #LENGTH-active,
    #TEMPERATURE-active,
    #MASS-active,
    #VOLUME-active {
      width: 150px;
      height: 100px;
      padding: 5px;
      margin: 5px;
    }

    #quantity {
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5px;
      height: 45%;
    }
  }

  #converter {
    margin: 10px;
  }
}

@media only screen and (max-height: 500px) {
  .home {
    #quantity {
      height: 40%;
    }
  }
}

@media only screen and (max-width: 650px) {
  #converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 40%;
  }

  #from,
  #to {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 85%;
  }
}
